.contents.row
  .container
    = form_with(model: @tweet, local: true) do |form|
      %h3.new-post
        編集する
      = form.text_field :image, placeholder: "Image Url",class: :Image_url
      = form.text_area :text, placeholder: "text" , rows: "10",class: :text
      .send-area
        = form.submit "SEND",class: :send_btn
