.contents
  .maxpost
    .leftbox
      - @tweets.each do |tweet|
        .post-image
          .content-post{:style => "background-image: url(#{tweet.image});",class: :contentimage}
          .content-message
            = simple_format(tweet.text)
            .content_user
              %span.name
                = tweet.name
