= render 'shared/header'
.contents.row
  %p.mypage
    =@nickname
    の投稿
  .contents-user
    - @tweets.each do |tweet|
      .content_post{:style => "background-image: url(#{tweet.image});"}
        = simple_format(tweet.text)
        
