%header.header
  .header__bar.row
    .header__title
      %h1.grid-6
        = link_to "Chanimal", root_path, class: "header-chanimal"
      .user_nav.grid-6
        %a.btn.header-post(href="#")
          %span.hovering 投稿する！
          %span.default　投稿する？