$cWhite: white;
$cBlack: black;

.header{
  // background-color: #FFAD90;
  // opacity: 0.5;
  width: 100vw;
  height: 100px;
  &__title{
    display: flex;
    justify-content: space-between;
  }
}
@mixin header {
  color: #FF5192;
  text-decoration: none;
  line-height: 100px;
  text-shadow: 5px 5px 5px #D0FF43;
}
.header-chanimal{
  @include header;
  font-size: 35px;
  margin-left: 20px;
  font-family: Comic Sans MS;
}
.login-user{
  color: red;
  font-size: 40px;
  font-family: fantasy;
  text-shadow: 5px 5px 5px #D0FF43;
}
.post{
  text-decoration: none;
  color: red;
  font-size: 30px;
  font-family: YuMincho;
  padding: 0 20px;
  text-shadow: 5px 5px 5px #D0FF43;
  font-weight: bold;
  &:hover{
    color: #FF00FF;
  }
}
.user_nav{
  margin: 20px;
  text-align: center;
  .btn{
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    &.header-post{
      & span{
        font-family: YuMincho;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $cBlack;
        line-height: 48px;
        text-align: center;
        transition: all 0.3s;
        transform-origin: center center -25px;
      }
      & .hovering{
        background-color: $cBlack;
        color: $cWhite;
        transform: rotateX(90deg);
      }
      & .default {
        background-color: $cWhite;
        color: $cBlack;
        transform: rotateX(0);
      }
      &:hover{
        & .hovering {
          transform: rotateX(0);
        }
        & .default {
          transform: rotateX(-90deg);
        }
      }
    }
  }
}
